form {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}


@media screen and (max-width:480px) {
    form {
        width: 100vw;
    }
}