h1 {
    color: blue;
}


body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conatiner {
    background-color: bisque;

    display: grid;
    grid-template-columns: 30% 70%;
}

aside {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rosybrown;
}


.messages {
    color: red,
}

p {
    color: red
}