<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>LOGIN</title>
</head>

<body>
    <form method="POST" action="/login">
        <h1>
            LOGIN
        </h1>

        <?php if(isset($messages)): ?>
        <p>
            <?= $messages; ?>
        </p>
        <?php endif; ?>

        <input name="email" type="email" placeholder="Twoj email">
        <input name="password" type="password" placeholder="Twoje haslo">
        <button type="submit">LOGIN</button>
        <a href="/register">Zarejestruj sie!</a>
    </form>
</body>

</html>